body {
    background-imgage: url("Studio C pic 1.jpg");
    img {
        max-width: 100%;
        height: auto;
      }
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 40px;
  }
  
  
  ul {
  
  }
  